<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="row" style="float: left; width:100%; display:flex" >
    <div class="column" style="width : 33%">
        <span>Shop Tel.: 566454564654</span><br>
        <span>Mob.: 566454564654 - 5446444684</span><br>
        <span>Jidhafs - Bahrain</span><br>
        <span>C.R.No.: 3855-1</span>
        <br>
        <br>
        <span style="font-size:20px ;">No.</span>
        <br>
    </div>
        <div class="column" style="width : 33%">
            <div style="text-align: center;">
                <img src="../Images/giticon.png" alt="logo" width="30%" height="30%">
            </div>
            <br>
            <br>
            <div style="text-align: center;">
                <span style="font-size: 1rem; font-weight: bold; padding: 5px; border: 2px solid rgb(0, 0, 0); border-radius: 20px; outline: 2px rgb(0, 0, 0);"> VAT INVOICE </span>
            </div>
        </div>
        <div class="column" style="width : 33%">
            <span>Shop Tel.: 566454564654</span><br>
            <span>Mob.: 566454564654 - 5446444684</span><br>
            <span>Jidhafs - Bahrain</span><br>
            <span>C.R.No.: 3855-1</span>
            <br>
            <span>E-mail : abualijewellery@gmail.com</span>
            <br>
            <span><img src="../Images/insta.png" alt="insta icon">abualijewellery</span>
            <br>
            <span style="font-size:1.2rem ; font-weight: 600;">VAT No.:464444411111</span>
            <br>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px; float: left; width:100%; display:flex" >
        <div class="column" style="width : 65%">
            <br>
            <span>Mr./ Mrs.: mubashir</span>
            <br>
            <span>C.P.R : helloworld</span>
            <br>
            <span>Address : nfgnfng nginfg fnjg fgng </span>
        </div>
        <div class="column" style="width : 35%">
            <br>
            <span>Date : 02/06/2000</span>
            <br>
            <span>Tel : 1515616165156</span>
        </div>
    </div>
        

      
      
      
    <div>

        <table style="width: 100%; text-align: center;">
           
              <tr>
                <th rowspan="2">Qty</th>
                <th rowspan="2">Description</th>
                <th rowspan="2"> Carat </th>
                <th colspan="2"> Weight </th>
                <th colspan="2"> Price </th>

              </tr>
              <tr>
                <th>Grm</th>
                <th>M</th>
                <th>BD</th>
                <th>Fils</th>
               
              </tr>

              <tr>
                <td>P</td>
                <td>O</td>
                <td>14</td>
                <td>06</td>
                <td>1978</td>
                <td>06</td>
                <td>1978</td>
              </tr>
            </table>
            <table style="width: 100%; text-align: center;">
                <tr>
                    <th style="width: 15%;"> EX </th>
                    <th  style="width: 15%;"> Cash </th>
                    <th  style="width: 15%;"> Visa </th>
                    <th style="width: 8.6%;"> Total </th>
                    <th> dummy Data </th>
                    <th> dummy Data </th>
                    <th> dummy Data </th>
                    <th> dummy Data </th>
                  </tr>
            </table>
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td rowspan="2" style="width: 15%;"> EX </td>
                    <td rowspan="2" style="width: 15%;"> Cash </td>
                    <td rowspan="2" style="width: 15%;"> Visa </td>
                    <td rowspan="2" style="width: 8.6%;"> Total </td>
                    <td style="width: 23.2%;"> dummy Data </td>
                    <td> dummy Data </td>
                    <td> dummy Data </td>
                  </tr>
                  <tr>
                    <td style="width: 23.2%;"> dummy Data </td>
                    <td> dummy Data </td>
                    <td> dummy Data </td>
                  </tr>
            </table>
        
                
    </div>
</body>
</html>