.todo{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.inputfeild{
  display: flex;
  /* width: 50%; */
}
.input{
  width: 500px;
  border-radius: 10px 0px 0px 10px;
  background: #212529;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  padding: 10px 10px 10px 20px;
}
.b{
  border-radius: 0px 10px 10px 0px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border: none;
  color: white;
  background: #212529;
}
.b:hover{
  background-image: linear-gradient(rgb(250, 145, 141), rgb(206, 82, 202));
}

.taskadded{
  display: flex;
  background-color: #212529;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  width: 550px;
  padding: 20px;
  justify-content: space-between;
}
.sb{
  width: 35px; 
  height: 35px; 
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #212529;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.sb:hover{
  background-image: linear-gradient(rgb(250, 145, 141), rgb(206, 82, 202));
  color: #212529;
}
.sb1{
  width: 35px; 
  height: 35px; 
  align-items: center;
  border: none;
  border-radius: 10px;
  font-size: 34px;
  font-weight: 700;
  color: red;
  padding-bottom: 10px;
  background-color: #212529;
  display: flex;
  justify-content: center;
}
.sb1:hover{
  background-image: linear-gradient(rgb(250, 145, 141), rgb(206, 82, 202));
  color: white;
}

.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
  color: white !important;
}
.css-10botns-MuiInputBase-input-MuiFilledInput-input{
  color: white !important;

}


